# Terraform local state and caches
.terraform/
.terraform.tfstate
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Local output files
outputs.txt

