# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.env
.env.*
.venv/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
.vite/
.npm/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Docker
*.log
.docker/

# Misc
.DS_Store
.idea/
.vscode/
.cache/
coverage/
artifacts/
*.zip

