alembic==1.12.1
asyncpg==0.29.0
fastapi==0.104.1
greenlet==3.0.1
httpx==0.25.1
passlib[bcrypt]==1.7.4
psycopg[binary]==3.1.12
pydantic-settings==2.0.3
python-jose[cryptography]==3.3.0
SQLAlchemy==2.0.23
uvicorn[standard]==0.23.2
pytest==7.4.4
pytest-asyncio==0.21.1
