Flask==3.1.2
Werkzeug==3.1.5
gunicorn==25.0.3
prometheus-client==0.24.1

# Database
SQLAlchemy==2.0.46
alembic==1.18.4
psycopg2-binary==2.9.11

# Testing
pytest==9.0.2
pytest-cov==7.0.0
requests==2.32.5

# Load testing (optional)
locust==2.43.2
